/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('/fonts/noto-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/noto-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-sans-v8-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansTC-Thin.woff2) format('woff2'),
       url(/fonts/NotoSansTC-Thin.woff) format('woff'),
       url(/fonts/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansTC-Light.woff2) format('woff2'),
       url(/fonts/NotoSansTC-Light.woff) format('woff'),
       url(/fonts/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(/fonts/NotoSansTC-Regular.woff2) format('woff2'),
        url(/fonts/NotoSansTC-Regular.woff) format('woff'),
        url(/fonts/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(/fonts/NotoSansTC-Medium.woff2) format('woff2'),
        url(/fonts/NotoSansTC-Medium.woff) format('woff'),
        url(/fonts/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(/fonts/NotoSansTC-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansTC-Bold.woff) format('woff'),
        url(/fonts/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(/fonts/NotoSansTC-Black.woff2) format('woff2'),
        url(/fonts/NotoSansTC-Black.woff) format('woff'),
        url(/fonts/NotoSansTC-Black.otf) format('opentype');
 }

